In [4]:
#import modules
import numpy as np
import pandas as pd
import scipy.stats as st
import matplotlib.pyplot as plt
%matplotlib inline
import statsmodels.api as sm
import statsmodels.formula.api as smf
import seaborn as sns
import math
from sklearn import decomposition
from sklearn import preprocessing
import re
from scipy.stats import t, shapiro
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels

pd.set_option('display.max_rows', 170)

In [5]:
data = pd.read_csv('final_sample.csv', sep = ',')
data.head()

    m_j   G_j  c_i_child  c_i_parents country  income_child  income_parents
0  7297  33.2          1            1     ALB     728.89795       728.89795
1  7297  33.2          2            1     ALB     916.66235       728.89795
2  7297  33.2          3            1     ALB    1010.91600       728.89795
3  7297  33.2          4            1     ALB    1086.90780       728.89795
4  7297  33.2          5            1     ALB    1132.69970       728.89795

In [ ]:
anova_pays = smf.ols('income_child~country', data=data).fit()
print(anova_pays.summary())

In [ ]:
#TABLEAU ANOVA
sm.stats.anova_lm(anova_pays, typ=2)